html{
    background-color: #533370;
    font-family: "Bauhaus 93", serif;
}
#h{
    color: #ffffff;
    width: 30%;
    height: 6vh;
    float: left;

}
#button-container{
    float:left;
    width: 40%;
    height: 6vh;
    text-align: center;
}
#start-button{
    margin-top: 0.5vh;
    color: white;
    width: 15%;
    border-radius: 10px;
    border-color: white;
    border-style: solid;
    background: none;
    font-size: 1vw;
    height: 2vw;
    font-family: Bahnschrift, serif;
    transition: transform 0.2s ease-in-out;
}
#loader {
    visibility: hidden;
    width: 3vh;
    margin-left: 45%;
    margin-top: -5vh;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid;
    border-color: #ffffff #0000;
    animation: l1 1s infinite;
}
@keyframes l1 {to{transform: rotate(.5turn)}}
#start-button:hover{
    cursor: pointer;
    transform: scaleX(1.2);
}
#stats{
    float: left;
    width: 30%;
    height: 6vh;
    color: white;
    font-size: 2vw;
    text-align: right;
}
header{
    width: 100%;
    font-size: 2vw;
}
p{
    margin: 0;
    font-size: 0.7vw;
}
#box{
    display: flex;
    height: 90vh;
    width: 70%;
    background-color: #270f34;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}
::view-transition-group(*) {
  animation-duration: 0.2s;
}
#box div{
    border-radius: 10px;
    margin-left: 0.5%;
    margin-right: 0.5%;
    transition: height 0.1s;
}
#box div:hover{
    cursor: pointer;

}

